# Sending times of Python/Websocket:
SENDING_INTERVAL_SECONDS=2
MAX_SAMPLE_AGE_SECONDS=3

# Environment variables MQTT:
MQTT_HOST=localhost
MQTT_PORT=1883
MQTT_TOPIC=receivers/#
MQTT_TOPIC_EPAPER=beaconsniffer/wifi

# For 3 receivers, change RECEIVER_IDS to 1,2,3 AND outcomment the fourth:
# For 4 receivers, change RECEIVER_IDS to 1,2,3,4 and add the fourth:
RECEIVER_IDS=1,2,3

RECEIVER_1_X=0.0
RECEIVER_1_Y=0.0

RECEIVER_2_X=0.0
RECEIVER_2_Y=5.0

RECEIVER_3_X=5.0
RECEIVER_3_Y=2.5

# RECEIVER_4_X=3.0
# RECEIVER_4_Y=3.0

PATH_LOSS_EXPONENT=2.5
MIN_DISTANCE_METERS=0.20

# Websocket variables:
HEATMAP_WEBSOCKET=wss://localhost:8000/ws/heatmap-samples?token=
HEATMAP_TOKEN=your_token_here
