# Environment variables MQTT:
MQTT_HOST=localhost
MQTT_PORT=1883
MQTT_TOPIC=receivers/#
MQTT_TOPIC_EPAPER=beaconsniffer/wifi

# For 4 receivers, change RECEIVER_IDS to 1,2,3,4 and add the fourth:
RECEIVER_IDS=1,2,3

RECEIVER_1_X=0.0
RECEIVER_1_Y=0.0

RECEIVER_2_X=3.0
RECEIVER_2_Y=0.0

RECEIVER_3_X=0.0
RECEIVER_3_Y=3.0

# RECEIVER_4_X=3.0
# RECEIVER_4_Y=3.0

PATH_LOSS_EXPONENT=2.2

# WebSocket variables:
HEATMAP_WEBSOCKET=wss://iot.politzer.mywire.org/ws/heatmap-samples?token=
HEATMAP_TOKEN=your_token_here
