POSTGRES_PASSWORD=change-me
WS_TOKEN=change-me

BACKEND_BIND_IP=127.0.0.1

MQTT_HOST=mosquitto
MQTT_PORT=1883
MQTT_TOPIC=iot/wifi/measurements/#

DB_HOST=postgres
DB_PORT=5432
DB_NAME=iot_wifi
DB_USER=iotuser
DB_PASSWORD=change-me
